@import url(../fa/css/font-awesome.min.css);

body {
  padding-top: 3rem; /* for the navbar */
}
.home_title {
  padding: 3rem 1.5rem;
  text-align: center;
}
.home_buttons .btn {
  margin-bottom: 0.25rem;
}

.home_button_list {
    margin-bottom: 1rem;
}
